
html
{
    background-image: url(../resources/images/backgmenucomlogo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    border-radius : 2.5%;
    background-color: #99ae35;
    border: none;
    color: #fff;
    text-align: center;
    font-family: monospace;
    width : 30%;
    padding : 1.5%;
    font-size: 250%;
    height: auto;
    transition: all 0.5s;
    cursor: pointer;
    align-items: baseline;
    margin-bottom : 0.5%;
    bottom: -200px;
    box-shadow: 0 2.5% 5% -2% rgba(0, 0, 0,.7);
}

button{
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top:25%;
    right:-10%;
    transition: 0.5s;
}

button:hover{
  padding-right: -3%;
  padding-left: -2.5%;
}

button:hover:after {
  opacity: 1;
  right: 2%;
}

input {
    margin-top: 300px;
    width: 200px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #99ae35;
    padding: 12px 5px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input:focus {
    width: 50%;
}
