myCanvas
{
    padding: 0;
    margin: auto;
    display: inline;

}

canvasBack{
  padding: 0;
  margin: auto;
  display: inline;
}

html{
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}
