myCanvas{
    padding: 0;
    margin: auto;
    display: inline;
}

canvasBack{
  padding: 0;
  margin: auto;
  display: inline;
}

html{
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

#fundoBarra{
    position: relative;
    top: 620px;
    width: 100%;
    background-color: grey;
}
#progressoBarraAzul {
    width: 0%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: blue;
}

#progressoBarraVerm {
  width: 0%;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: red;
}
