canvas
{
    padding: 0;
    margin: auto;
    display: block;
}

html{
  background-image: url(../resources/images/FOTOS_MULT/used/bg1_f.png);
  background-repeat: no-repeat;
  background-size: cover;
}
