body
{
    background-image: url(../resources/images/backgcreditos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p
{
    background-color: #d6e882;
    text-align: center;
    color: #ffffff;
    font-family: monospace;
    font-size: 30px;
    margin-top: 250px;
    margin-left: 200px;
    margin-right: 200px;
}

button {
    border-radius: 4px;
    background-color: #99ae35;
    border: none;
    color: #fff;
    text-align: center;
    font-family: monospace;
    font-size: 32px;
    padding: 16px;
    width: 400px;
    height: auto;
    transition: all 0.5s;
    cursor: pointer;
    align-items: baseline;
    margin-bottom: 14px;
    bottom: -100px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button{
    cursor: pointer;
    display: block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: 'x';
    position: absolute;
    opacity: 0;
    top: 14px;
    right: -15px;
    transition: 0.5s;
}

button:hover{
    padding-right: 24px;
    padding-left:8px;
}

button:hover:after {
    opacity: 1;
    right: 10px;
}
