body{
  background-image: url(../resources/images/backgmenucomlogo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  border-radius : 2.5%;
  background-color: #99ae35;
  border: none;
  color: #fff;
  text-align: center;
  font-family: monospace;
  width : 30%;
  padding : 1.5%;
  font-size: 250%;
  height: auto;
  transition: all 0.5s;
  cursor: pointer;
  align-items: baseline;
  margin-bottom : 0.5%;
  top : 200px;
  box-shadow: 0 2.5% 5% -2% rgba(0, 0, 0,.7);
}
